checkpoints*
logs*
local_scripts
test_output
*__pycache__*
*build*
*.onnx
*.engine
*.ipynb


deploy/*
!deploy/*.cpp
!deploy/*.py
!deploy/*.h
!deploy/*.sh
!deploy/zmicad
deploy/zmicad/*
!deploy/zmicad/*.cpp
!deploy/zmicad/*.h
!deploy/zmicad/*.txt
!deploy/zmicad/python

!compression/*.ipynb